<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>JS Exercises</title>
        <link rel="stylesheet" href="styles.css">
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.2/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.2/angular-route.min.js"></script>
        <script src="app.js" charset="utf-8"></script>
        <script src="mock.js" charset="utf-8"></script>
    </head>
    <body ng-app="jsExercises" ng-controller="main">
        <div ng-bind-html="challengeDescriptionHtml"></div>
        <textarea ng-model="code" ng-model-options="{debounce: 500}"></textarea>
        <table>
            <thead>
                <tr>
                    <th rowspan="2">Test Case</th><th colspan="2">Expected</th><th colspan="2">Actual</th>
                </tr>
                <tr>
                    <th>Result</th><th>Console</th><th>Result</th><th>Console</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="test in testCaseResults" ng-class="test.result.status">
                    <td>{{test.case.expression}}</td>
                    <td>{{test.case.result}}</td>
                    <td><p ng-repeat="line in test.case.console track by $index">&gt; {{line}}</p></td>
                    <td>{{test.result.expressionResult}}{{test.result.error}}</td>
                    <td><p ng-repeat="line in test.result.console track by $index">&gt; {{line}}</p></td>
                </tr>
            </tbody>
        </table>
    </body>
</html>
