textarea {
    width: 50%;
    height: 12em;
}

td {
    border: 1px solid black;
    padding: 3px;
}

.pass td {
    border-color: green;
}

.fail td {
    border-color: yellow;
}

.error td {
    border-color: red;
}
