<div class="edit-sets">
    <div class="row">
        <div class="col-xs-3">
            <ul class="nav nav-pills nav-stacked">
                <li ng-repeat="set in sets" ng-class="{active: set.active}">
                    <a ng-if="set.dropTarget" href="#!/admin/sets/{{set.id}}" as-sortable="sortOptions" ng-model="set.challenges">{{set.title}} ({{set.challenges.length}})</a>
                    <a ng-if="!set.dropTarget" href="#!/admin/sets/{{set.id}}">{{set.title}} ({{set.challenges.length}})</a>
                </li>
                <li>
                    <a href="" ng-click="addSet()"><span  class="glyphicon glyphicon-plus"></span> New Set</a>
                </li>
                <li>
                    <a href="#!/admin/challenge/new"><span  class="glyphicon glyphicon-plus"></span> New Challenge</a>
                </li>
            </ul>
        </div>
        <div class="col-xs-9">

            <div class="panel panel-default" ng-show="activeSet.id">
                <div class="panel-heading panel-heading--collapsible" ng-click="state.isDetailsOpen = !state.isDetailsOpen">
                  <h4 class="panel-title">
                    Set Details <span class="glyphicon glyphicon-edit"></span>
                  </h4>
                </div>
                <div class="panel-collapse collapse" uib-collapse="!state.isDetailsOpen">
                    <form class="panel-body" ng-submit="updateSet()">
                        <div class="form-group">
                          <label for="setKey">Key</label>
                          <input type="text" class="form-control" ng-model="activeSet.key" id="setKey" />
                        </div>
                        <div class="form-group">
                          <label for="setTitle">Title</label>
                          <input type="text" class="form-control" ng-model="activeSet.title" id="setTitle" />
                        </div>
                        <div class="form-group">
                          <label for="setDescription">Description (HTML)</label>
                          <textarea type="text" class="form-control" ng-model="activeSet.description" id="setDescription"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">Save</button>
                        <button type="button" class="btn btn-default pull-right" ng-click="removeSet()"><span class="glyphicon glyphicon-remove"></span> Delete Set</button>
                    </form>
                </div>
            </div>

            <div as-sortable="sortOptions" ng-model="activeSet.challenges">
                <div ng-repeat="challenge in activeSet.challenges" as-sortable-item class="panel panel-default">
                    <div class="panel-body">
                        <span as-sortable-item-handle class="glyphicon glyphicon-menu-hamburger"></span>
                        {{challenge.title}}
                        <span class="list-panel-options">
                            <a href="#!/admin/challenge/{{challenge.id}}" class="pull-right glyphicon glyphicon-edit" title="Edit"></a>
                            <a href="" ng-click="duplicateChallenge(challenge)" class="pull-right glyphicon glyphicon-copy" title="Create a Copy"></a>
                            <a href="" ng-if="activeSet.id" ng-click="removeFromSet(challenge)" class="pull-right glyphicon glyphicon-remove" title="Remove from Set"></a>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
