<div class="edit-group">
    <a href="#!/admin/groups">&lt; Back to Groups List</a>
    <h3>Group Details</h3>
    <form ng-submit="updateGroup(group)">
        <div class="form-group">
          <label for="groupName">Name</label>
          <input type="text" class="form-control" ng-model="group.name" id="groupName" />
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
        <button type="button" class="btn btn-default pull-right" ng-click="removeGroup(group)"><span class="glyphicon glyphicon-remove"></span> Delete Group</button>
    </form>

    <h3>Members</h3>
    <table class="table table-striped user-table">
        <thead>
            <tr>
                <th>Has Logged In</th>
                <th>Name</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="member in members | orderBy:'name'">
                <td ng-if="member.active" class="user-table__cell user-table__cell--active"><span class="glyphicon glyphicon-ok-sign"></span> Yes</td>
                <td ng-if="!member.active" class="user-table__cell user-table__cell--inactive"><span class="glyphicon glyphicon-minus-sign"></span> No</td>
                <td class="user-table__cell">{{member.name}}</td>
                <td class="user-table__cell">{{member.email}} <a href="" ng-click="removeMember(member)" class="glyphicon glyphicon-remove pull-right" title="Remove"></a></td>
            </tr>
        </tbody>
    </table>

    <form class="well" ng-submit="addMembers(membersToAdd)">
        <div class="form-group">
          <label for="membersToAdd">Names &amp; Emails to add</label>
          <textarea type="text" ng-model="membersToAdd" class="form-control" ng-model="membersToAdd" id="membersToAdd" placeholder="comma- or semicolon- separated: e.g. bob@lawblog.com, or &quot;Bob Loblaw&quot; <bob@lawblog.com>"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Add Members</button>
    </form>

    <h3>Sets</h3>
    <div class="row edit-group__sets" style="height: 300px;">
        <div class="col-sm-6">
            <h4>Sets for This Group</h4>
            <p class="edit-group__sets__instructions">Drag here to add or reorder sets.</p>
            <div as-sortable="setSortOptions" ng-model="sets.selected" class="edit-group__sets__list">
                <div ng-repeat="set in sets.selected" as-sortable-item class="panel panel-default">
                    <div as-sortable-item-handle class="panel-body">
                        <span class="glyphicon glyphicon-menu-hamburger"></span>
                        {{set.title}}
                    </div>
                </div>
                <div ng-if="!sets.selected.length" class="edit-group__sets__list__instuctions">Drag Here to Add</div>
            </div>
        </div>
        <div class="col-sm-6">
            <h4>Other Available Sets</h4>
            <p class="edit-group__sets__instructions">Drag here to remove a set.</p>
            <div as-sortable="availableSetSortOptions" ng-model="sets.available" class="edit-group__sets__list">
                <div ng-repeat="set in sets.available" as-sortable-item class="panel panel-default">
                    <div as-sortable-item-handle class="panel-body">
                        <span class="glyphicon glyphicon-menu-hamburger"></span>
                        {{set.title}}
                    </div>
                </div>
                <div ng-if="!sets.available.length" class="edit-group__sets__list__instuctions">Drag Here to Remove</div>
            </div>
        </div>
    </div>
</div>
