<div class="edit-sets">
    <div class="row">
        <div class="col-xs-3">
            <ul class="nav nav-pills nav-stacked">
                <li ng-repeat="set in sets" ng-class="{active: set.active}">
                    <a ng-if="set.dropTarget" href="#!/admin/sets/{{set.id}}" as-sortable="sortOptions" ng-model="set.challenges">{{set.title}} ({{set.challenges.length}})</a>
                    <a ng-if="!set.dropTarget" href="#!/admin/sets/{{set.id}}">{{set.title}} ({{set.challenges.length}})</a>
                </li>
                <li>
                    <a href="#!/admin/challenge/new"><span  class="glyphicon glyphicon-plus"></span> New Challenge</a>
                </li>
            </ul>
        </div>
        <div class="col-xs-9" as-sortable="sortOptions" ng-model="activeSet.challenges">
            <div ng-repeat="challenge in activeSet.challenges" as-sortable-item class="panel panel-default">
                <div class="panel-body">
                    <span as-sortable-item-handle class="glyphicon glyphicon-menu-hamburger"></span>
                    {{challenge.title}}
                    <a href="#!/admin/challenge/{{challenge.id}}" class="pull-right glyphicon glyphicon-edit" title="Edit"></a>
                    <a href="" ng-if="activeSet.id" ng-click="removeFromSet(challenge)" class="pull-right glyphicon glyphicon-remove" title="Remove from Set"></a>
                </div>
            </div>
        </div>
    </div>
</div>
