<div class="sets-list">
    <div class="set" ng-repeat="set in sets">
        <h3>{{set.title}} <a href="#!/c/{{set.key}}/1">GO</a></h3>
        <div class="set-description" ng-bind-html="set.description"></div>
    </div>
    <div ng-if="!isLoggedIn" class="set">
        <h3>For more Challenges...</h3>
        <div class="set-description sign-in-with-slack">
          <a href="{{slackLoginUrl}}"><img src="https://api.slack.com/img/sign_in_with_slack.png" /></a>
        </div>
    </div>
</div>
